Adam Ten Hoeve  
COMP 4448 Data Science Tools 2  
Assignment 2

In [2]:
# Load Necesary packages
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

# Question 1

You are provided with the following dataset:

In [3]:
refund = ["yes", "no", "no", "yes", "no", "no", "yes", "no", "no", "no"]
marital_status = ["single", "married", "single", "married", "divorced", \
                  "married", "divorced", "single", "married", "single"]
income_above_80k = ["yes", "yes", "no", "yes", "yes", "no", "yes", "yes", "no", "yes"]
cheat = ["no", "no", "no", "no", "yes", "no", "no", "yes", "no", "yes"]
# Create a dataframe of the data
df = pd.DataFrame([refund, marital_status, income_above_80k, cheat]).transpose()
df.columns = ["refund", "marital_status", "income_above_80k", "cheat"]
df

  refund marital_status income_above_80k cheat
0    yes         single              yes    no
1     no        married              yes    no
2     no         single               no    no
3    yes        married              yes    no
4     no       divorced              yes   yes
5     no        married               no    no
6    yes       divorced              yes    no
7     no         single              yes   yes
8     no        married               no    no
9     no         single              yes   yes

a)	Write an IF-THEN rule derived from this decision tree, that can be used to classify instances in the data suppose your desire is to predict “yes” for the output variable.

IF Refund = "No"
AND Income Above 80k = "Yes"
AND (Marital Status = "Single" OR Marital Status = "Divorced")
THEN Cheat = "Yes"

b)	In code, create a function with an if-else statement to implement the rule you wrote above in question 1a. You can name the function predict. The function takes the input data and returns a vector of predicted output values. You can decide if you want your function’s input data argument to be a numpy array or a data frame, ,then structure your function body to process the input data accordingly. Provide some brief document of your function. You can loop through each instance in the input data and assess whether the instance satisfies the rule for predicting “yes” or not. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0.

In [4]:
def predict(df):
    # Input is the dataframe
    # Initialize a vector or predictions.
    # Each is initialized as 0 (will not cheat), and will change if all the conditions of the rule are met.
    predictions = np.zeros(df.shape[0])
    # Loop through each instance of the dataframe
    for index, row in df.iterrows():
        # Check if "refund"=="no"
        if row["refund"]=="no":
            # Check if Income is above 80k
            if row["income_above_80k"]=="yes":
                # Check if single or divorced
                if row["marital_status"]=="single" or row["marital_status"]=="divorced":
                    # Then meets all criteria for cheating on taxes, so set prediction to 1.
                    predictions[index] = 1
                    
    # Return the vector of predictions
    return(predictions)

c)	Create another function that implements the rule for predicting “yes” for the output, but this time, you will not use if-else statement or a loop. Rather use numpy arrays, matrices or vector to vectorize your code for faster and more efficient implementation. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0. You can use logical operators for such implementation to compare values of test instances to values of attributes in the rule. This function still takes the input data and returns a vector of predicted values. You can call this function vectorized_predict.

In [5]:
def vectorized_predict(df):
    predictions = df.apply(lambda x: int(x["refund"]=="no" and \
                                  x["income_above_80k"]=="yes" and \
                                  (x["marital_status"]=="single" or \
                                   x["marital_status"]=="divorced")), 
                           axis=1)
    return(np.array(predictions))

d)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values.

In [6]:
predict(df[["refund", "marital_status", "income_above_80k"]])

array([0., 0., 0., 0., 1., 0., 0., 1., 0., 1.])

e)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your vectorized_predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values. Are the predicted values with the vectorized_predict function the same as the predicted values obtained through the predict function? (you should have the same results).

In [7]:
vectorized_predict(df[["refund", "marital_status", "income_above_80k"]])

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 1], dtype=int64)

f)	Include the predicted values as a column to the training data and name that column predicted_cheat.

In [8]:
df["predicted_cheat"] = vectorized_predict(df)
df

  refund marital_status income_above_80k cheat  predicted_cheat
0    yes         single              yes    no                0
1     no        married              yes    no                0
2     no         single               no    no                0
3    yes        married              yes    no                0
4     no       divorced              yes   yes                1
5     no        married               no    no                0
6    yes       divorced              yes    no                0
7     no         single              yes   yes                1
8     no        married               no    no                0
9     no         single              yes   yes                1

g)	Create a function that computes the overall accuracy of the classification. You can call this function overall_accuracy. The function should take two arguments, a vector of  actual output values and a vector of predicted output values, then returns the classification accuracy. Inside the function, you can use boolean logic to compare the actual and predicted values, then count the proportion of how many predicted values are equal to the actual values to get the overall accuracy.

In [9]:
def overall_accuracy(labels, preds):
    '''
    labels: A vector of the actual output values
    preds: A vector of the predicted values
    '''
    # Convert labels to binary values
    labels = labels.apply(lambda x: 0 if x=="no" else 1)
    # Use boolean logic to test if the actual label is the same as the predicted label
    is_the_same = (labels == preds)
    # Accuracy = number covered and correctly labeled / total number of instances
    accuracy = sum(is_the_same) / len(is_the_same)
    
    return(accuracy)

overall_accuracy(df["cheat"], df["predicted_cheat"])

1.0

h)	Create a confusion matrix using the predicted and actual output values. You can use pandas crosstab function.

In [10]:
pd.crosstab(df["cheat"], df["predicted_cheat"])

predicted_cheat  0  1
cheat
no               7  0
yes              0  3

i)	Supose the test set data is as follows. Apply the vectorized_predict function to the input of the test dataset to predict the output values for the test dataset. Include these predicted values as a column to the test dataset and called this column predicted_cheat.

In [11]:
refund_2 = ["no", "no", "no", "no", "no", "no", "yes", "no", "yes", "yes"]
marital_status_2 = ["single", "single", "married", "divorced", "married", \
                    "single", "single", "single", "married", "single"]
income_above_80k_2 = ["yes", "yes", "yes", "no", "yes", "yes", "yes", "yes", "yes", "no"]
cheat_2 = ["no", "no", "no", "no", "no", "no", "no", "yes", "yes", "yes"]
df2 = pd.DataFrame([refund_2, marital_status_2, income_above_80k_2, cheat_2]).transpose()
df2.columns = ["refund", "marital_status", "income_above_80k", "cheat"]

In [12]:
df2["predicted_cheat"] = vectorized_predict(df2)
df2

  refund marital_status income_above_80k cheat  predicted_cheat
0     no         single              yes    no                1
1     no         single              yes    no                1
2     no        married              yes    no                0
3     no       divorced               no    no                0
4     no        married              yes    no                0
5     no         single              yes    no                1
6    yes         single              yes    no                0
7     no         single              yes   yes                1
8    yes        married              yes   yes                0
9    yes         single               no   yes                0

j)	Apply the overall_accuracy function to the predicted out values and actual output values of the test set to compute the overall accuracy. Compare the overall accuracy of the test set and that of the training set. Is there overfitting? Why or why not? If there is overfitting, what would you do to avoid overfitting the rule to the training set?

In [13]:
overall_accuracy(df2["cheat"], df2["predicted_cheat"])

0.5

# Question 2

a)	Given the training dataset in question 1, write a function that computes the entropy of output variable. The function should take the entire training dataset, and the name of the output variable as arguments and return the entropy value. You can call the function, entropy.

In [44]:
def entropy(df, output_name):
    # Because our output variable is binary, entropy is definded as the following:
    # Entropy = -p*log_2(p) - (1-p)*log_2(1-p)
    # So we need to calculate p, the proportion of "yes" in the data
    is_yes = (df[output_name] == "yes")
    p = np.sum(is_yes) / len(is_yes)
    # Plug p into entropy equation
    # If p=0, then return 0 (which is what the equation would be). Otherwise, it breaks the log2() function.
    if p==0:
        return(0)
    entp = -p*np.log2(p) - (1-p)*np.log2(1-p)
    return(entp)

entropy(df, "cheat")

0.8812908992306927

b)	Create another function that takes the dataset, the name of the output variable, and a specific input variable as arguments and returns the information gain for a split of the data on that specific input variable. You can call the function, information_gain. Apply the information_gain function to each input variable to compute the information gain for each input variable. Which input variables is the best (has the highest information gain) for creating one-rule?

In [46]:
def information_gain(df, output_name, input_name):
    # Information gain is defined as Entropy(Output) - Entropy(Output | Input)
    # So we need to calculate two different entropies
    # Let's start with the easy one, Entropy(Output). This is just calculated using the entropy function.
    entropy_before_split = entropy(df, output_name)
    
    # To calculate the entropy after a split, we need to calculate the entropy of each value of the split attribute
    entropy_after_split = 0
    for value in df[input_name].unique():
        # Calculate the number of occurances of that value
        num_occurances = np.sum(df[input_name]==value)
        # Then calculate the entropy of the data, given that value is true
        entropy_of_value = entropy(df.loc[df[input_name]==value], output_name)
        # Then add the weighted entropy to our running total
        entropy_after_split += (num_occurances / df.shape[0])*entropy_of_value
    # Now calculate the information gain
    info_gain = entropy_before_split - entropy_after_split
    return(info_gain)

In [47]:
information_gain(df, "cheat", "refund")

0.19163120400671663

In [48]:
information_gain(df, "cheat", "marital_status")

0.2812908992306926

In [49]:
information_gain(df, "cheat", "income_above_80k")

0.19163120400671663

c)	Do a cross tabulation using the best attribute obtained in 2b above and the output variable in the training dataset.

In [50]:
pd.crosstab(df["cheat"], df["marital_status"])

marital_status  divorced  married  single
cheat
no                     1        4       2
yes                    1        0       2

f)	Using the antecedent of your rule, extract the data covered by the rule and compute the coverage of the rule.

In [53]:
# Get the number of rows where marital_status == "married"
instances_of_rule = df.loc[df["marital_status"]=="married"].shape[0]
# coverage = instances of rule / total number of instances
instances_of_rule / df.shape[0]

0.4

g)	Using the antecedent of your rule, extract the data covered by the rule and compute the accuracy of the rule.

In [55]:
# Accuracy = number of instances covered and correctly classified / total number covered
# Get the number covered and correctly classified having Cheat = "no"
instances_covered_and_correct = df.loc[(df["marital_status"]=="married") & (df["cheat"]=="no")].shape[0]
# Calculate the accuracy
instances_covered_and_correct / instances_of_rule

1.0

h)	Create a function that implents the rule as an if-else statement to predict the outcomes of any instance (a vector of values associated with the input variables for a specific individual). The function should be able to take one or more instances as an argument in the form of a dataframe or numpy arrary.

In [64]:
def onerule(df):
    # Predict the classification based on if marital_status == "married"
    preds = df.apply(lambda x: 0 if x["marital_status"]=="married" else 1, 
                     axis=1)
    return(preds)

i)	Implemement the function on the training set and test set in question 1 to get the predicted outputs for the training set and test set.

In [66]:
# Onerule on training set
onerule(df)

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    1
8    0
9    1
dtype: int64

In [67]:
# Onerule on test set
onerule(df2)

0    1
1    1
2    0
3    1
4    0
5    1
6    1
7    1
8    0
9    1
dtype: int64

j)	What is the overall prediction accuracies for the training set and test set? You can use the overall_accuracy function you initially defined.

In [68]:
# Accuracy on the training set
onerule_train_preds = onerule(df)
overall_accuracy(df["cheat"], onerule_train_preds)

0.7

In [69]:
# Accuracy on the test set
onerule_test_preds = onerule(df2)
overall_accuracy(df2["cheat"], onerule_test_preds)

0.4